.abon_a {
    height: 340px;
    width: 340px;
    background-size: cover;
    background-image: url(https://sun1-90.userapi.com/impg/yErOt1l5MKi3n6w2kHOvwJobhamQD-klLApBsA/LG_z6JpFSx8.jpg?size=400x0&quality=95&sign=deaf331deec9a90f341aa516667948dc)
}
.abon_b {
    height: 340px;
    width: 340px;
    background-size: cover;
    background-image: url(https://sun1-97.userapi.com/impg/q_oLjnc0LxBg0q5MzytAVCuhXMGS-TfXsqh4PQ/sm70b0sWT98.jpg?size=400x0&quality=95&sign=bc5a2e912facb21b831b475352076be8)
}
.abon_c {
    height: 340px;
    width: 340px;
    background-size: cover;
    background-image: url(https://sun1-83.userapi.com/impg/rYGkEBCpqWKce-h_2HybWsn1q1RMyctJ5C5C6g/Qk3Acq6Qcr8.jpg?size=400x0&quality=95&sign=309e040898219ec581228c4680a9360e)
}
.abon_d {
    height: 340px;
    width: 340px;
    background-size: cover;
    background-image: url(https://sun1-56.userapi.com/impg/iaeBKquDtdChaBT4K2VQwxT9D2Cx0W-VwOygYg/MSi9B8FpRZo.jpg?size=400x0&quality=95&sign=6b9f3d5cc38bd25ac07047f2b9a581ec)
}
.abon_e {
    height: 340px;
    width: 340px;
    background-size: cover;
    background-image: url(https://sun1-97.userapi.com/impg/I9b_mOlPlqjhzgUM4SqFSALtxiMSs7942GIWoA/z8YrXjLoNWU.jpg?size=400x0&quality=95&sign=887709c1d36904d31e28ae66a22901d6)
}
.abon_text{
    width: 300px;
}