.last_p {
    height: 90vh;
    width: 100%;
    padding: 10vh;
    display: flex;
    justify-content: center;
    align-content: center;
    background-image: url(https://github.com/Konstantinll/konstantinll.github.io/blob/master/src/Pictures/bg_picture/last_p.jpg?raw=true);
    background-position: 50% 50%;
    background-size: cover;
  }