.first {
    height: 95vh;
    width: 100%;
    padding: 10vh;
    display: flex;
    align-items: center;
    background-image: url(https://github.com/Konstantinll/konstantinll.github.io/blob/master/src/Pictures/bg_picture/bg_first.jpg?raw=true);
    background-size: cover;
  }
