.first {
    height: 95vh;
    width: 100%;
    padding: 10vh;
    display: flex;
    align-items: center;
    background-image: url(https://github.com/Konstantinll/konstantinll.github.io/blob/master/src/Pictures/bg_picture/bg_first.jpg?raw=true);
    background-size: cover;
  }
.zena_a{
  font-size: smaller;
  color:rgb(152, 152, 152);
  text-decoration: line-through;
  margin-left: 50px;
}
.zena_b{
  font-weight: bolder;
  font-size: larger;
  color:#ff2400
}
@media screen and (max-width: 840px) {
  .first {
    height: 110vh;
    padding: 0px;
  }
}