.first {
    height: 95vh;
    width: 100%;
    padding: 10vh;
    display: flex;
    align-items: center;
    background-image: url(https://sun9-26.userapi.com/impg/vHnxaxlnVORGJ8nibE0kvmh2ywN8Avg2rrXg0g/0A_-xUgS3rs.jpg?size=1440x960&quality=96&sign=e8c4cf13c94204f39a3de71cbc4fd5cd&type=album);
    background-size: cover;
  }
