.colu2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: left;
    color: #fff;
  }
.colu3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: left;
  }