.colu2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: left;
    color: #fff;
  }
.colu3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: left;
  }
.colu4 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: left;
  }
.icvk{
    height: 30px;
    width: 30px;
    padding-left: 10px;
    padding-right: 10px;
    background-size: cover;
    background-image: url(https://3.downloader.disk.yandex.ru/preview/da37acfce789ddaa58cff48f33b56988d3aba7ec14f9f53013ddadae4279db67/inf/a1YPjMRgc3toY7RTs3d8g7UUyn70PS3UDv7dtc-6rbW4rp_4gxYDAPdh_yzWlNNz84R0x9DkvKsVuycGhpgSJw%3D%3D?uid=468161793&filename=3565.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&owner_uid=468161793&tknv=v2&size=1920x907); 
  }
.icwu{
    height: 30px;
    width: 30px;
    padding-left: 10px;
    padding-right: 10px;
    background-size: cover;
    background-image: url(https://3.downloader.disk.yandex.ru/preview/da37acfce789ddaa58cff48f33b56988d3aba7ec14f9f53013ddadae4279db67/inf/a1YPjMRgc3toY7RTs3d8g7UUyn70PS3UDv7dtc-6rbW4rp_4gxYDAPdh_yzWlNNz84R0x9DkvKsVuycGhpgSJw%3D%3D?uid=468161793&filename=3565.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&owner_uid=468161793&tknv=v2&size=1920x907); 
  }