.pozitiv {
    height: 70px;
    width: 70px;
    background-size: cover;
    background-image: url(https://github.com/Konstantinll/konstantinll.github.io/blob/master/src/Pictures/bg_icons/mind.png?raw=true);
  }
  .fitnes {
    height: 70px;
    width: 70px;
    background-size: cover;
    background-image: url(https://github.com/Konstantinll/konstantinll.github.io/blob/master/src/Pictures/bg_icons/exercise.png?raw=true);
  }
  .znakom {
    height: 70px;
    width: 70px;
    background-size: cover;
    background-image: url(https://github.com/Konstantinll/konstantinll.github.io/blob/master/src/Pictures/bg_icons/world.png?raw=true);
  }
  .profi {
    height: 70px;
    width: 70px;
    background-size: cover;
    background-image: url(https://github.com/Konstantinll/konstantinll.github.io/blob/master/src/Pictures/bg_icons/satisfaction.png?raw=true);
  }
  .profiyou {
    height: 70px;
    width: 70px;
    background-size: cover;
    background-image: url(https://github.com/Konstantinll/konstantinll.github.io/blob/master/src/Pictures/bg_icons/graduation-hat.png?raw=true);
  }