.pozitiv {
    height: 50px;
    width: 50px;
    background-size: cover;
    background-image: url(https://psv4.vkuseraudio.net/s/v1/d/pLFxtcYH41r-ECk-KNXaGZjODiCgOvQKlJSQX7wxIL1ljPWbrtJeD6Sh1s8hkSWnehvgSLe7Gdlpxqz39I4Mc3OPXeVgOBmu66Pi7jLI3NFAyq3-jCLU7w/mind.png);
  }
  .fitnes {
    height: 50px;
    width: 50px;
    background-size: cover;
    background-image: url(https://psv4.userapi.com/c534536/u191331051/docs/d15/34f898472699/exercise.png?extra=5U-mtM-Jg-fubusES2eALlupSgOQC1T_-mvEMIPTiWDm8z2tgP4Ynac7urNEU-iPjWMTT5pqE74--dtd-E5GDlDtnEftV4uolMPHjLBR7MXdIxI_YMqtg7_mIQyQqLtyZKeEAU6BajOxdD4rCau2pw24e2g);
  }
  .znakom {
    height: 70px;
    width: 70px;
    background-size: cover;
    background-image: url(https://psv4.vkuseraudio.net/s/v1/d/FYu5Y_5-J0u6mJi-XztjYpiyBx92ngOzH4f_L_spr_5ZcLCbRNeR6GfoQLvmohWDxJWeLfLdUNEcfhU6N4ez-7pR9GQJYYNX5iKUZXND624VylZMnIgykQ/world.png);
  }
  .profi {
    height: 50px;
    width: 50px;
    background-size: cover;
    background-image: url(https://psv4.userapi.com/c534536/u191331051/docs/d34/7219999a6fdf/satisfaction.png?extra=brny7HPGr2MiVp5XHPfPNSeX4VkaS38iAgAW3Sxdmq7_7PDVMeQyjN_VejlLbQdgtLZdcFAcIMruOqH4tzr5mokr0ODsRc-8cVU4ipC1XNQlRfuBf2yavc5yZabGObGe_tk0rqcnSXRCSY_8OsQlWuxj1fQ);
  }