.dance {
    height: 70px;
    width: 70px;
    background-size: cover;
    background-image: url(https://github.com/Konstantinll/konstantinll.github.io/blob/master/src/Pictures/bg_icons/a_dance.png?raw=true);
  }
  .dancing {
    height: 70px;
    width: 70px;
    background-size: cover;
    background-image: url(https://github.com/Konstantinll/konstantinll.github.io/blob/master/src/Pictures/bg_icons/a_man_dancing.png?raw=true);
  }
  .music {
    height: 70px;
    width: 70px;
    background-size: cover;
    background-image: url(https://github.com/Konstantinll/konstantinll.github.io/blob/master/src/Pictures/bg_icons/a_music.png?raw=true);
  }
  .ear {
    height: 70px;
    width: 70px;
    background-size: cover;
    background-image: url(https://github.com/Konstantinll/konstantinll.github.io/blob/master/src/Pictures/bg_icons/a_ear.png?raw=true);
  }
  .foot {
    height: 70px;
    width: 70px;
    background-size: cover;
    background-image: url(https://github.com/Konstantinll/konstantinll.github.io/blob/master/src/Pictures/bg_icons/a_footprints.png?raw=true);
  }
  .more {
    height: 70px;
    width: 70px;
    background-size: cover;
    background-image: url(https://github.com/Konstantinll/konstantinll.github.io/blob/master/src/Pictures/bg_icons/a_more.png?raw=true);
  }
  .bot{
    width: 100%;
    padding-top: 10vh;
    padding-left: 30px;
    padding-right: 30px;
    background-color: rgb(255, 255, 255)
  }