.last {
    height: 80vh;
    width: 100%;
    padding: 10vh;
    background-image: url(https://github.com/Konstantinll/konstantinll.github.io/blob/master/src/Pictures/bg_picture/bg_last.jpg?raw=true);
    background-size: cover;
    display: flex;
    align-items: center;
  }
  @media screen and (max-width: 840px) {
    .last {
      padding: 0px;
    }
  }