.last {
    height: 80vh;
    width: 100%;
    padding: 10vh;
    background-image: url(https://psv4.userapi.com/c534536/u2414563/docs/d37/a69f5c731e16/96576586.jpg?extra=dY162TeKMudqC_ZAs-ZdFJnU2GQK9TpvRvC8hjcqOYxt8QX6ePHmgHSWv4Y3ycb4faz9IvTHx85cP4BalbyHWjDIDclM7CCuvebVz-JmOpKOrAFbJni2axfIug6e-mB3wti1HEcsF0YMGEGn-BojEPA);
    background-size: cover;
    display: flex;
    align-items: center;
  }