.znak1 {
    height: 120px;
    width: 200px;
    background-size: cover;
    margin-left: 20px;
    margin-right: 20px;
    box-shadow: 0px 3px 10px 1px rgba(13, 202, 240, 0.5);
    background-image: url(https://sun9-32.userapi.com/impf/c848632/v848632424/1d5bdb/btnVSySinpo.jpg?size=959x720&quality=96&sign=d3521d26bf7ae6b5ca145df852c8cc8a&type=album);
  }
  .znak2 {
    height: 120px;
    width: 200px;
    background-size: cover;
    margin-left: 20px;
    margin-right: 20px;
    box-shadow: 0px 3px 10px 1px rgba(13, 202, 240, 0.5);
    background-image: url(https://sun9-86.userapi.com/impf/c844417/v844417709/f1b33/ROwuE5Ki3w4.jpg?size=2135x1233&quality=96&sign=13a78511f0fc8a2b6f9786e7118b3222&type=album);
  }
  .znak3 {
    height: 120px;
    width: 200px;
    background-size: cover;
    margin-left: 20px;
    margin-right: 20px;
    box-shadow: 0px 3px 10px 1px rgba(13, 202, 240, 0.5);
    background-image: url(https://sun9-83.userapi.com/impf/YrFE5V34GFQV6k_TO6AolQpejGWBEdAzeb59ZQ/OBGHsymhMeI.jpg?size=2560x1226&quality=96&sign=845596b1ba7824a81e55937a7ebb89fe&type=album);
  }
  .znak4 {
    height: 120px;
    width: 200px;
    background-size: cover;
    margin-left: 20px;
    margin-right: 20px;
    box-shadow: 0px 3px 10px 1px rgba(13, 202, 240, 0.5);
    background-image: url(https://sun9-51.userapi.com/impf/c639225/v639225364/6dce4/7JdOhcnBOuA.jpg?size=960x539&quality=96&sign=f19b8d4f0b0620f065c7df30a0e162a7&type=album);
  }
  .znak5 {
    height: 120px;
    width: 200px;
    background-size: cover;
    margin-left: 20px;
    margin-right: 20px;
    box-shadow: 0px 3px 10px 1px rgba(13, 202, 240, 0.5);
    background-image: url(https://sun9-21.userapi.com/impf/c840233/v840233702/40a93/qq7b3CSZcDs.jpg?size=2560x1707&quality=96&sign=85097424bc685e9906a5b4dad48c0d4f&type=album);
  }
  .znak6 {
    height: 120px;
    width: 200px;
    background-size: cover;
    margin-left: 20px;
    margin-right: 20px;
    box-shadow: 0px 3px 10px 1px rgba(13, 202, 240, 0.5);
    background-image: url(https://sun9-49.userapi.com/impf/c636523/v636523210/95f2/PV_b9JJpKTU.jpg?size=1080x811&quality=96&sign=8ee1f4e9382e3bddfb3c251dcfd90f55&type=album);
  }
  .znak7 {
    height: 120px;
    width: 200px;
    background-size: cover;
    margin-left: 20px;
    margin-right: 20px;
    box-shadow: 0px 3px 10px 1px rgba(13, 202, 240, 0.5);
    background-image: url(https://sun9-57.userapi.com/impf/Z6eRcLB_tciNqmpVk2wGCko2rRqmcB6kpDUr_Q/JJYYTfTPA7k.jpg?size=1600x1200&quality=95&sign=8e618595ed037bc92cb4d3da75ee6140&type=album);
  }